<!DOCTYPE html>
<head><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <style>
    body{
      padding-top:40px;
    }

  </style>
</head>


<body>
  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
    <div class = "container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
        </button>

        <a href="" class="navbar-brand">Ameenah Burhan</a>
      </div><!--Navbar Header-->
      <div class="collapse navbar-collapse" id="navbar-collapse">
       <!-- <a href="" class="btn btn-warning navbar-btn navbar-right">Download Now</a>-->
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %>
        </ul>
      </div>
    </div><!--End Container -->
  </nav><!-- End navbar -->

  <!-- jumbotron-->

  <div class = "jumbotron">
    <div class="container text-center">

      <h1>About Page</h1>
      <p>About Me</p>



    </div><!-- End Container-->
  </div><!-- End jumbotron -->

<!-- articles -->
  <div class="container">
    <section>
      <div class="page-header" id="about">
        <h2> Ruby on Rails <small>Learning Ruby on Rails</small></h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna ligula, sollicitudin vel mauris non, ornare vehic              ula turpis. Sed elit sem, viverra sit amet laoreet vel, placerat a diam. Nam et tellus velit. </p>
            <footer>John doe</footer>
          </blockquote>
        </div>
        <div class="col-md-6">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna ligula, sollicitudin vel mauris non, ornare vehic              ula turpis. Sed elit sem, viverra sit amet laoreet vel, placerat a diam. Nam et tellus velit. </p>
            <footer>John doe</footer>
          </blockquote>
        </div>
      </div>
    </section>
  </div><!--End Container-->

<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

